* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../sprites/fundo.png);
  background-repeat: no-repeat;
}

.game {
  border-bottom: 1px solid;
  height: 300px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.pdl {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: x-large;
}

.GT {
  position: absolute;
  bottom: 0;
  background-image: url(../../sprites/gravidataubate.png);
  width: 200px;
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.CF {
  position: absolute;
  bottom: 0;
  background-image: url(../../sprites/Chris Flowers.gif);
  width: 200px;
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.bola {
  position: absolute;
  bottom: 0;
  background-image: url(../../sprites/bola.png);
  width: 100px;
  height: 100px;
  background-size: 100px;
  background-repeat: no-repeat;
  animation: bola 3s linear infinite;
}

@keyframes bola {
  0% {
    right: -20px;
  }
  100% {
    right: 850px;
  }
}

.jump {
  animation: jump 1.1s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 80px;
  }

  50% {
    bottom: 100px;
  }

  80% {
    bottom: 80px;
  }

  100% {
    bottom: 0;
  }
}